/.idea

/build/bin
/build/buildlang
/build/phingext
/build/tools

/plugins/system/akgeoip/akgeoip.xml
/plugins/system/akgeoip/db/GeoLite2-Country.mmdb
/plugins/system/akgeoip/db/GeoLite2-*.mmdb

/release

# Internal language symlinks
/component/language/*/en-GB
/modules/*/*/language/en-GB
/plugins/*/*/language/en-GB
/translations
