/.idea

/build/bin
/build/buildlang
/build/phingext
/build/tools

/plugins/system/akgeoip/akgeoip.xml
/plugins/system/akgeoip/db/GeoLite2-Country.mmdb
/plugins/system/akgeoip/db/GeoLite2-*.mmdb

/release

/DESCRIPTION.html
/RELEASENOTES.html